<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
    .target {
        background-color: #000000;
    }
</style>

<body>

    <!-- 반복문 -->
    <ul>
        <li th:each="dto : ${list}">
            [[${dto}]]
        </li>
    </ul>

    <br>

    <!-- 상태 객체 state : 홀/짝, 순번, 인덱스 번호 등 지정 -->
    <ul>
        <li th:each="dto, state : ${list}">
            [[${state.index}]] ---[[${dto}]]
        </li>
    </ul>

    <br>

    <!-- 제어문 처리 if -->
    <ul>
        <li th:each="dto, state : ${list}" th:if="${dto.sno%5==0}">
            [[${dto}]]
        </li>
    </ul>

    <br>

    <!-- 제어문 처리 if else -->
    <ul>
        <li th:each="dto, state : ${list}">
            <span th:if="${dto.sno % 5 == 0}" th:text="${'---------------------'+dto.sno}"></span>
            <span th:unless="${dto.sno % 5 == 0}" th:text="${dto.first}"></span>
        </li>
    </ul>

    <br>

    <!-- 제어문 처리 삼항 연산자 -->
    <ul>
        <li th:each="dto, state : ${list}" th:text="${dto.sno % 5 == 0} ? ${dto.sno}"></li>
    </ul>

    <br>

    <!-- 제어문 처리 삼항 연산자 if else -->
    <ul>
        <li th:each="dto, state : ${list}" th:text="${dto.sno % 5 ==0} ? ${dto.sno} : ${dto.first}"></li>
    </ul>

    <br>

    <!-- 제어문 처리 특정 상황에 css 활용 -->
    <ul>
        <li th:each="dto, state: ${list}" th:class="${dto.sno % 5 == 0}?'target'" th:text="${dto}"></li>
    </ul>

    <br>

    <!-- th:block - 루프 등을 별도로 처리할 때 -->
    <ul>
        <th:block th:each="dto:${list}">
            <li th:text="${dto.sno % 5 == 0}?${dto.sno}:${dto.first}"></li>
        </th:block>
    </ul>

</body>

</html>